* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.phone {
    width: 400px;
    height: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border: solid 5px;
    background-color: white;
}

.menubar {
    overflow: hidden;
    height: 8%;
    background-color: #FFD4E3;
}

.menubarIcon {
    float: left;
    width: 20%;
    height: 100%;
    background-color: #FFD4E3;
    border: none;
    outline: none;
}

.menubarTitle {
    float: left;
    width: 60%;
    font-size: 30px;
    color: #AF0505;
    text-align: center;
    margin-top: 15px;
}

#content {
    height: 77%;
}

.arrowArea {
    height: 15%;
}

.leftArrow {
    float: left;
    width: 20%;
    height: 60%;
    border: none;
    outline: none;
    margin: 25px;
    display: block;
}

.rightArrow {
    float: right;
    width: 20%;
    height: 60%;
    border: none;
    outline: none;
    margin: 25px;
    display: block;
}

.menuLayout {
    margin: 0px 40px;
    left: 50%;
}

.menuLayout button {
    width: 100%;
    margin-top: 28px;
    padding: 6%;
    background-color: #FFD4E3;
    font-size: 25px;
    border-radius: 12px;
}